<%- include ("partials/header.ejs"); %>
<body>
    <%- include ("partials/navbar.ejs"); %>
    <div class="container">
        <br>
        <h1>Perguntas</h1>        
        <hr>
        <a href="/perguntar" class="btn btn-success">Perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-warning">Responder</button></a>
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary">Ver Resposta</button></a>
                    <a href="/pergunta/<%= pergunta.id %>"><buttoon class="btn btn-danger">Excluir</buttoon></a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<footer class="fixarRodape">
    <div class="container-footer">
         <p>Developed By <a href="https://www.linkedin.com/in/gabriel-fiamete-da-rosa-31199b161" class="container-footer">Gabriel Fiamete da Rosa</a></p>
    </div>
</footer>
<%- include ("partials/footer.ejs"); %>